:root {
  --Pansy-Purple: hsl(328, 67%, 31%);
  --Yellow-Green: hsl(89, 51%, 54%);
  --Sky-Blue: hsl(196, 56%, 70%);
  --Black: hsl(0, 100%, 0%);
  --Font-Color: hsl(0, 0%, 18%);
}

@font-face {
  font-family: "Promixa Nova";
  src: url(./font/Proxima\ Nova\ Semibold.otf);
}

@font-face {
  font-family: "Promixa Nova Heavy";
  src: url(./font/proxima-nova/Proxima\ Nova\ Bold.otf);
}

@keyframes scroll {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(400px);
  }
}

/* ======
CSS RESET
CREDIT TO: https://www.joshwcomeau.com/css/custom-css-reset/ 
====== */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  overflow-x: hidden;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ======
UTILITES
====== */
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* - HEADER - */

/* ======
NAVAGATION UTILITES
====== */

img {
  width: 135px;
  margin-left: -1.7rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 2rem;
}

/* ======
NAVAGATION
====== */
.header-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  display: none;
}

.hamburger {
  display: block;
  width: 25px;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--Black);
  transition: 0.4s;
  margin: 4px 0;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hamburger-nav {
  position: fixed;
  top: 6.5rem;
  left: 100%;
  display: inline-block;
  height: 100vh;
  width: 100%;
  padding-top: 1.5rem;
  transition: 0.4s;
  background: #fff;
  z-index: 4;
}

.hamburger-nav.is-active {
  left: 0;
  background-color: #fff;
  z-index: 2;
}

.hamburger-nav ul li a {
  display: block;
  font-family: "Promixa Nova", Arial, Helvetica;
  font-size: 1.5rem;
  letter-spacing: -0.025rem;
  padding-top: 0.8rem;
  color: var(--Black);
}

.nav-cta {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 90%;
  left: 100%;
  transition: 0.4s;
  width: 80%;
  padding: 0.8rem 0rem;
  margin: 0 2.4rem;
  border-radius: 3px;
  font-family: "Promixa Nova", Arial, Helvetica;
  background-image: linear-gradient(
    -45deg,
    var(--Sky-Blue),
    var(--Yellow-Green)
  );
  z-index: 3;
}

.nav-cta a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.nav-cta.is-active {
  left: 0;
}

/* - MAIN- */

/* ======
HERO
====== */
.hero-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 2.5rem auto 0;
  padding: 0 1.5rem;
  font-family: "Promixa Nova";
}

.hero-text {
  font-size: 1.8rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  color: var(--Font-Color);
}

.hero-text h1::after {
  content: "";
  background: url(./images/LINE-4.png);
  background-repeat: no-repeat;
  background-size: 90%;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
  position: absolute;
  top: 11.6%;
  right: 0;
  left: 5.9%;
  bottom: 0;
}

.subtext {
  margin-top: 1.3rem;
}

.subtext-left,
.subtext-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--Font-Color);
}

.subtext-left > p:last-child {
  margin-left: 2.8rem;
}

.subtext-right > p:last-child {
  margin-left: 2.8rem;
}

.fa-solid {
  margin-right: 0.5rem;
}

.subtext-btn a {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--Bright-Blue);
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(
    -45deg,
    var(--Sky-Blue),
    var(--Yellow-Green)
  );
  color: #fff;
}

/* ======
CLIENT
====== */
.client-wrapper {
  position: relative;
  margin: 2.5rem auto 0;
  font-family: "Promixa Nova";
}

.client-wrapper h2 {
  text-align: center;
  color: #848484;
}

.slide-track {
  display: flex;
  gap: 1rem;
  width: calc(250px * 14);
  color: #848484;
}

.slide {
  padding: 1rem;
  animation: scroll 25s linear infinite backwards;
}

.testimonial-wrapper {
  position: relative;
  margin: 2.5rem auto 0;
  font-family: "Promixa Nova";
  padding: 0 1.5rem;
}

.testimonial-wrapper h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.benefit {
  margin: 0 auto;
  background-color: hsl(147, 57%, 75%);
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 3.3rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
}

.benefit-heading {
  margin-top: 12rem;
}

.benefit p:nth-child(1) {
  font-size: 2rem;
  width: 70%;
}

.b-pic-2 {
  background-color: hsl(179, 57%, 75%);
}

.benefit h3 {
  margin-top: 14rem;
  font-size: 2.5rem;
  width: 80%;
  line-height: 1;
}

.benefit p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  font-size: 1.15rem;
}

.benefit::after {
  content: "";
  background: url(./images/undraw_handcrafts_house.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  position: absolute;
  top: 9%;
  right: 0;
  left: 28.5%;
  bottom: 0;
}

.b-pic-2::after {
  content: "";
  background: url(./images/undraw_handcrafts_growth.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  width: 100%;
  position: absolute;
  top: 40.7%;
  right: 0;
  left: 32.5%;
  bottom: 0;
}

.b-pic-3::after {
  content: "";
  background: url(./images/undraw_handcrafts_travel.svg);
  background-repeat: no-repeat;
  background-size: 53%;
  width: 100%;
  position: absolute;
  top: 72.3%;
  right: 0;
  left: 22%;
  bottom: 0;
}
